{#  -*- coding: utf-8 -*- #}
{% import 'base_helper.tmpl' as base with context %}
{% import 'annotation_helper.tmpl' as annotations with context %}
{{ set_locale(lang) }}
<!DOCTYPE html>
<html
lang="{{ lang }}">
<head>
    {{ base.html_head() }}
    {% block extra_head %}
    {% endblock %}
    {{ extra_head_data }}
</head>
<body>
    <div id="wrp">
        <div id="cont">
            <div id="page">
                <header>
                    <h1>
                        <a href="{{ abs_link('/') }}" title="{{ blog_title }}" rel="home">{{ blog_title }}</a>
                    </h1>
                </header>
                <div id="body">
                    <nav>
                        <ul>
                            <li><a href="{{ abs_link('/') }}" title="Home" rel="home">Home</a></li>
                            <li><a href="{{ abs_link('/categories/') }}" title="Categories">Categories</a></li>
			    <li><a href="{{ abs_link('/archive.html') }}" title="Archive">Archive</a></li>
			    <li><a href="{{ abs_link('/posts/nanowrimo15-day1.html') }}" title="Read Williams NaNoWriMo2015">Read Williams NanoWriMo2015</a></li> 
                            <li><a href="{{ abs_link('/rss.xml') }}" title="RSS feed">RSS</a></li>
                            <li><a href="https://github.com/wcmckee/writersdenhamilton" title="Site source">Site Source</a></li>
		            <li><a href="https://twitter.com/writersdenhamilton">Twitter</a></li>
			    <a rel="license" href="https://creativecommons.org/licenses/by/4.0/">
		            <img alt="Creative Commons License BY"
                            style="border-width:0; margin-bottom:12px;"
                            src="/https://upload.wikimedia.org/wikipedia/commons/1/16/CC-BY_icon.svg"></a>
			    <li>Except where otherwise noted, copyright content on this site is licensed under a Creative Commons Attribution 4.0 International Licence.</li>
                        </ul>
                    </nav>
                    <div id="content">
                        {% block content %}{% endblock %}
                    </div>
                </div>
                <div id="ftr">
                </div>
            </div>
        </div>
    </div>
	<footer>
        <small>{{ content_footer }}</small>
	</footer>
    {{ base.late_load_js() }}
</body>
